# Database
DATABASE_URL=""

# Authentication
SESSION_SECRET=""
JWT_SECRET=""

# Admin
ADMIN_EMAIL=""
ADMIN_PASSWORD=""
PORT=3001

# SMTP Configuration
SMTP_HOST=""
SMTP_PORT=""
SMTP_USER=""
SMTP_PASS=""

# Payment Method Numbers
GOOGLE_CLIENT_ID=""
GOOGLE_API_KEY=""
TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHAT_ID=""
TELEGRAM_ADMIN_CHAT_ID=""

# Football Data API
FOOTBALL_DATA_API_KEY=""
